{
  "root": true,
  "extends": ["eslint:recommended", "plugin:jsdoc/recommended", "plugin:import/recommended"],
  "plugins": ["jsdoc", "import"],
  "env": {
    "browser": true,
    "node": true,
    "shared-node-browser": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "modules": true,
      "classes": true,
      "jsx": true
    }
  },
  "rules": {
    "constructor-super": "error",
    "curly": ["error", "multi-line"],
    "getter-return": "error",
    "indent": ["error", 2, { "SwitchCase": 1, "MemberExpression": 1 }],
    "no-async-promise-executor": "error",
    "no-case-declarations": "error",
    "no-compare-neg-zero": "error",
    "no-cond-assign": "error",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-const-assign": "error",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-else-if": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-global-assign": "error",
    "no-import-assign": "error",
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "no-obj-calls": "error",
    "no-prototype-builtins": "error",
    "no-redeclare": "error",
    "no-setter-return": "error",
    "no-trailing-spaces": "off",
    "no-unreachable-loop": ["error", { "ignore": ["ForInStatement", "ForOfStatement"] }],
    "no-unused-vars": "off",
    "no-var": "error",
    "prefer-const": "error",
    "quotes": ["warn", "single"],
    "semi": ["error", "always"],
    "use-isnan": "error",
    "valid-typeof": ["error", { "requireStringLiterals": true }],
    "import/no-unresolved": "error",
    "jsdoc/check-access": "warn",
    "jsdoc/check-alignment": "warn",
    "jsdoc/check-indentation": "warn",
    "jsdoc/check-param-names": "warn",
    "jsdoc/check-property-names": "warn",
    "jsdoc/check-syntax": "warn",
    "jsdoc/check-tag-names": "off",
    "jsdoc/check-types": "warn",
    "jsdoc/check-values": "warn",
    "jsdoc/empty-tags": "warn",
    "jsdoc/implements-on-classes": "warn",
    "jsdoc/multiline-blocks": "warn",
    "jsdoc/newline-after-description": "off",
    "jsdoc/no-bad-blocks": "warn",
    "jsdoc/no-multi-asterisks": "warn",
    "jsdoc/no-undefined-types": "warn",
    "jsdoc/require-asterisk-prefix": "warn",
    "jsdoc/require-description": ["warn", { "descriptionStyle": "tag" }],
    "jsdoc/require-description-complete-sentence": ["warn", { "abbreviations": ["etc", "e.g.", "i.e."] }],
    "jsdoc/require-hyphen-before-param-description": "warn",
    "jsdoc/require-jsdoc": "off",
    "jsdoc/require-param": "warn",
    "jsdoc/require-param-description": "warn",
    "jsdoc/require-param-name": "warn",
    "jsdoc/require-param-type": "warn",
    "jsdoc/require-property": "warn",
    "jsdoc/require-property-description": "warn",
    "jsdoc/require-property-name": "warn",
    "jsdoc/require-property-type": "warn",
    "jsdoc/require-returns": "warn",
    "jsdoc/require-returns-check": "off",
    "jsdoc/require-returns-description": "warn",
    "jsdoc/require-returns-type": "warn",
    "jsdoc/tag-lines": "warn",
    "jsdoc/valid-types": "error"
  }
}
